<?xml version="1.0" encoding="ISO-8859-1" ?> 
<web-app xmlns="http://java.sun.com/xml/ns/javaee"  
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
           http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"  
         version="2.5">

    <!-- A continuacion deben declararse todas las Interfaces que se implementan como
         Servlets en el sistema. Para cada Interfaz deben declararse los tags
         <servlet> y <servlet-mapping>  
     -->

    <servlet>
      <servlet-name>Extraer</servlet-name>
      <servlet-class>interfaces.InterfazExtraccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Extraer</servlet-name>
        <url-pattern>/Extraer</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>Consulta</servlet-name>
      <servlet-class>interfaces.InterfazConsulta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Consulta</servlet-name>
        <url-pattern>/Consulta</url-pattern>
    </servlet-mapping>    

    <servlet>
      <servlet-name>Transferencia</servlet-name>
      <servlet-class>interfaces.InterfazTransferencia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Transferencia</servlet-name>
        <url-pattern>/Transferencia</url-pattern>
      </servlet-mapping>    

      <servlet>
        <servlet-name>Cliente</servlet-name>
        <servlet-class>interfaces.InterfazCliente</servlet-class>
      </servlet>
      <servlet-mapping>
        <servlet-name>Cliente</servlet-name>
        <url-pattern>/Cliente</url-pattern>
      </servlet-mapping>    
        <servlet>
          <servlet-name>Juez</servlet-name>
        <servlet-class>interfaces.InterfazJuez</servlet-class>
      </servlet>
      <servlet-mapping>
        <servlet-name>Juez</servlet-name>
        <url-pattern>/Juez</url-pattern>
      </servlet-mapping>
         <servlet>
          <servlet-name>Editor</servlet-name>
        <servlet-class>interfaces.InterfazEditor</servlet-class>
      </servlet>
      <servlet-mapping>
        <servlet-name>Editor</servlet-name>
        <url-pattern>/Editor</url-pattern>
      </servlet-mapping>

    <servlet>
        <servlet-name>Autor</servlet-name>
        <servlet-class>interfaces.InterfazAutor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autor</servlet-name>
        <url-pattern>/Autor</url-pattern>
    </servlet-mapping>





<!--
<servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.swengsol.HelloWorldServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name> 
    <url-pattern>/HelloWorld</url-pattern> 
  </servlet-mapping>
-->  
</web-app>
